body {
  background: var(--background);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  margin: 0px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
ul {
  list-style: none;
}
button {
  display: block;
}
img {
  display: block;
}

input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background: var(--background-hero);
  padding-left: 16px;
  color: var(--title);
}
input:hover {
  border-color: var(--color-link);
  border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
