:root {
  --background: #ffffff;
  --title: #ffffff;
  --text-one--title-two--title-three--title-name--title-small: #212121;
  --text--small-text: #757575;
  --color-link: #2196f3;
  --main-color: #212121;
  --universal-dark-color: #000000;
  --background-hero: #2f303a;
  --hero-blok: #eeeeee;
  --button: #f5f4fa;
  --explanation: #afb1b8;
}
